<div id="cart-dropdown-panel" data-cart-dropdown-target="panel" class="cart-dropdown">
  <div class="cart-dropdown">
    <div class="cart-panel bg-white rounded-2xl shadow-lg w-72 max-h-96 overflow-y-auto p-4 space-y-3">
      <% if @cart.line_items.present? %>
        <% @cart.line_items.includes(:product).each do |line_item| %>
          <% product = line_item.product %>
          <div id="line_item_<%= line_item.id %>" class="cart-item flex justify-between items-center border-b border-gray-200 pb-2">
            <div class="flex justify-between items-center">
              
              <%# Handle double polymorphism for images %>
              <% if product.is_a?(Engine) && product.engineable&.photos&.attached? %>
                <%= image_tag product.engineable.photos.first,
                              alt: product.title,
                              class: "cart-thumbnail" %>
              <% elsif product.respond_to?(:photos) && product.photos.attached? %>
                <%= image_tag product.photos.first,
                              alt: product.try(:name) || product.try(:title),
                              class: "cart-thumbnail" %>
              <% end %>

              <strong>
                <%= product.try(:name) || product.try(:title) %> (x<%= line_item.quantity %>)
              </strong>

              <%= button_to(
                    "<i class='fa-solid fa-trash'></i>".html_safe,
                    cart_remove_item_path(line_item.id),
                    method: :post,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: "text-rd"
                  ) %>
            </div>
          </div>
        <% end %>
        
        <div class="pt-3">
          <%= link_to "Checkout", cart_checkout_path, class: "checkout-btn", data: { turbo_frame: "_top" } %>
        </div>
      <% else %>
        <p style="font-weight: 600;">Your Cart is Empty</p>
      <% end %>
    </div>
  </div>
</div>
